myPalette {
  color: #f1efec;
  color: #8e8e95;
  color: #e25238;
  color: #ac8559;
  color: #1c2122;
}

/***** General Styling *****/

body {
  height: 100%;
  background-color: #f1efec;
  font-family: 'Noto Sans';
  font-size: 16px;
  color: #1c2122;
  margin: 24px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Nunito';
  font-size: 2rem;
}

h2 {
  font-family: 'Nunito';
  font-size: 1.5rem;
}

/***** Header *****/

#site-header {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  padding-top: 0px;
  border-bottom: 2px solid #1c2122;
  margin-bottom: 32px;
}

#site-header > button {
  border: 0px;
  margin-right: 12px;
}

#site-header > button > .la-bars {
  font-size: 32px;
  color: #1c2122;
}

#site-header > h1 > a {
  color: #1c2122;
  text-decoration: none;
}

/***** Navbar *****/

.navbar-container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 100%;
}

#navbar {
  background-color: #8e8e95;
  width: 300px;
  height: 100%;
  padding: 24px 32px;
  animation-name: slidein;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

#navbar > button {
  border: 0px;
  margin-bottom: 12px;
  background-color: inherit;
}

#navbar > button > .la-bars {
  font-size: 32px;
  color: #1c2122;
}

#navbar > ul {
  border-top: 2px solid #1c2122;
}

#navbar > ul > li {
  width: 100%;
  padding: 8px 0px;
  border-bottom: 2px solid #1c2122;
}

#navbar > ul > li > a {
  display: inline-block;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  text-decoration: none;
  width: 100%;
}

#background-filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  animation-name: fadein;
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
}

@keyframes slidein {
  0% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.13);
  }
}

/***** Home *****/

.home-container > div:first-child > p {
  margin-bottom: 32px;
}

/***** PostList *****/

.postlist-container > h2 {
  margin-bottom: 16px;
}

.postlist-container > div {
  padding: 12px 0px;
  border-bottom: 2px solid #1c2122;
}

.postlist-container > div:nth-child(2) {
  border-top: 2px solid #1c2122;
}

.postlist-container > div > h3 {
  margin-bottom: 4px;
}

/***** Login *****/

.login-container {
 
  background-color: rgb(248, 248, 248);
  padding: 16px;
  border: 2px solid #1c2122;
  border-radius: 4px;
}

.login-container > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-container > form > label {
  margin-bottom: 4px;
}

.login-container > form > input {
  border: 0px;
  border-bottom: 2px solid #1c212262;
  margin-bottom: 16px;
  background-color: rgb(248, 248, 248);
  font-size: 1rem;
}

.login-container > form > input:focus {
  outline: none;
  border-bottom: 2px solid #1c2122;
}

.login-container > form > button {
  padding: 4px 8px;
  border: 0px;
  border-radius: 4px;  
  background-color: #e25238;
  color: white;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}

.login-container > form > h2 {
  margin-bottom: 16px;
  font-family: "Nunito";
}

/* Hide element */

.hide {
  display: none;
}
