myPalette {
  color: #f1efec;
  color: #8e8e95;
  color: #e25238;
  color: #ac8559;
  color: #1c2122;
  font-family: 'Nunito';
  font-family: "Montserrat"
}

/* General Styling */

html, body {
  height: 100%;
  background-color: #f1efec;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #1c2122;
  margin: 12px;
}

h1  {
  font-family: "Nunito";
  font-size: 2rem;
}

h2 {
  font-family: "Nunito";
  font-size: 1.5rem;
}

/* Header */

#site-header {
  padding-bottom: 8px;
  border-bottom: 2px solid #1c2122;
  margin-bottom: 32px;
}

/* Home */

.home-container > div:first-child > p {
  margin-bottom: 32px;
}

/* PostList */

.postlist-container > h2 {
  margin-bottom: 16px;
}

