myPalette {
  color: #f1efec;
  color: #8e8e95;
  color: #e25238;
  color: #ac8559;
  color: #1c2122;
}

/***** General Styling *****/
html {
  height: 100%;
}

body {
  height: 100%;
  background: #f1efec;
  font-family: 'Noto Sans';
  font-size: 16px;
  color: #1c2122;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Nunito';
  font-size: 2rem;
}

h2 {
  font-family: 'Nunito';
  font-size: 1.5rem;
}

.background-filter {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: fadein;
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
  z-index: 2;
}

/***** Generic Form Styling *****/

form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin-bottom: 4px;
}

form > input {
  border: 0px;
  border-bottom: 2px solid #1c212262;
  margin-bottom: 16px;
  background-color: rgb(248, 248, 248);
  font-size: 1rem;
}

form > input:focus {
  outline: none;
  border-bottom: 2px solid #1c2122;
}

form > button {
  padding: 4px 8px;
  border: 0px;
  border-radius: 4px;
  background-color: #e25238;
  color: white;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: bold;
}

form > h2 {
  margin-bottom: 16px;
  font-family: 'Nunito';
}

form > h1 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

/***** Error messages *****/

.error-label {
  color: rgb(235, 25, 25);
}

.error-input {
  border-bottom: 2px solid rgba(235, 25, 25, 0.521);
}

.error-msg {
  color: rgb(235, 25, 25);
  margin-bottom: 12px;
}

/***** Loading spinner *****/

.la-circle-notch {
  font-size: 48px;
  animation-duration: 2s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/***** Content *****/

.content {
  margin: 16px;
}

/***** Header *****/
.header-container {
  height: 51px;
  z-index: -2;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 8px;
  border-bottom: 1px solid rgba(28, 33, 34, 0.315);
  width: 100%;
  background-color: rgb(253, 251, 249);
}

.header-main > button {
  border: 0px;
  background-color: rgb(253, 251, 249);
}

.header-main > button > .la-bars {
  font-size: 32px;
  color: #1c2122;
}

.header-main > h1 > a {
  color: #1c2122;
  font-weight: 500;
  text-decoration: none;
}

.header-main > h1 > a > span {
  color: #e25238;
}

/***** Navbar *****/

.navbar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 2px solid #69696e;
  background-color: #8e8e95;
  min-width: 200px;
  max-width: 250px;
  height: 100%;
  padding: 16px;
  padding-top: 8px;
  animation-name: slidein;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  z-index: 3;
}

#navbar > button {
  border: 0px;
  padding: 0px;
  margin-bottom: 12px;
  background-color: inherit;
}

#navbar > button > .la-bars {
  font-size: 32px;
  color: #1c2122;
}

#navbar > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 2px solid #1c2122;
  width: 100%;
}

#navbar > ul > li {
  width: 100%;
  padding: 8px 0px;
  border-bottom: 2px solid #1c2122;
}

#navbar > ul > li > a {
  display: inline-block;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  text-decoration: none;
  width: 100%;
}

@keyframes slidein {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.13);
  }
}

/***** Home *****/

.home-container > div:first-child > p {
  margin-bottom: 32px;
}

/***** PostList *****/

.postlist-container {
  display: flex;
  flex-direction: column;
}

.postlist-container > h1 {
  padding-bottom: 16px;
  border-bottom: 2px solid #1c2122;
  font-size: 1.5rem;
}

.postlist-container > div {
  padding: 8px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px;
  margin-bottom: 12px;
  background-color: rgb(253, 251, 249);
}

.postlist-container > div > h2 {
  padding-bottom: 12px;
  border-bottom: 2px solid #e25238;
  margin-bottom: 12px;
  font-size: 1.1rem;
  font-weight: bold;
}

.postlist-container > div > h2 > a {
  text-decoration: none;
  color: #1c2122;
  font-weight: 400;
  font-size: 1.5rem;
}

.postlist-container > div > h2 > a:visited {
  color: #1c2122;
}

.postlist-container > div > p {
  color: #5e6e72;
}

.postlist-container > div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.postlist-container > div > div > p {
  color: #343a3a;
  font-size: 0.9rem;
}

.postlist-container > div > div > p:first-child {
  color: #e25238;
  font-size: 0.9rem;
}

/***** Post *****/

.post-container {
  padding: 8px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px;
  margin-bottom: 12px;
  background-color: rgb(253, 251, 249);
}

.post-container > h1 {
  padding-bottom: 12px;
  border-bottom: 2px solid #e25238;
  margin-bottom: 12px;
  font-size: 1.5rem;
}

.post-body {
  border-bottom: 2px solid #e25238;
}

.post-body > p {
  margin-bottom: 16px;
  color: #343a3a;
  line-height: 1.2rem;
}

/***** PostOptions *****/

.postoptions-container {
  margin-bottom: 12px;
}

.postoptions-container > ul {
  display: flex;
  align-items: center;
}

.postoptions-container > ul > li {
  margin-right: 12px;
}

.postoptions-container > ul > li > button {
  padding: 0px;
  border: 0px;
  background-color: rgb(253, 251, 249);
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Montserrat';
  color: rgb(226, 8, 8);
}

#edit-post-button {
  color: rgb(120, 161, 38);
}

/***** PostForm *****/

.postform-container {
  background-color: rgb(248, 248, 248);
  padding: 16px;
  border: 4px solid #1c2122;
  border-radius: 4px;
}

.postform-container > form > textarea {
  margin-bottom: 12px;
  font-family: 'Noto Sans';
  font-size: 0.9rem;
  border: 2px solid #1c212262;
  height: 350px;
}

.postform-container > form > textarea:focus {
  outline: none;
  border: 2px solid #1c2122;
}

/***** Login *****/

.login-container {
  background-color: rgb(248, 248, 248);
  padding: 16px;
  border: 4px solid #1c2122;
  border-radius: 4px;
}

/***** SignUp *****/

.signup-container {
  background-color: rgb(248, 248, 248);
  padding: 16px;
  border: 4px solid #1c2122;
  border-radius: 4px;
}

/***** CommentForm *****/

.commentform-container {
  margin-top: 48px;
  margin-bottom: 48px;
}

.commentform-container > form > h2 {
  font-size: 1.3rem;
}

.commentform-container > form > textarea {
  margin-bottom: 16px;
  height: 100px;
  font-family: 'Noto Sans';
  font-size: 0.9rem;
}

.commentform-container > form > button {
  width: 100px;
}

/***** Comment *****/

.comment-container {
  padding: 8px 4px;
}

.comment-container:nth-child(2n + 1) {
  background-color: rgb(240, 240, 240);
}

.comment-container > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.comment-container > div:first-child > p {
  font-size: 15px;
  color: #343a3a;
}

.comment-container > div:first-child > p:first-child {
  color: #e25238;
}

.comment-body {
  flex-direction: column;
}

.comment-body > p {
  margin-bottom: 12px;
  color: #343a3a;
  font-size: 15px;
  line-height: 1.1rem;
}

.comment-body > p:last-child {
  margin-bottom: 0px;
}

/***** CommentOptions *****/

.comment-container > .commentoptions-container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 0px;
}

.commentoptions-container > div:first-child {
  display: flex;
  justify-content: space-between;
}

.commentoptions-container > div:first-child > button {
  padding: 0px;
  border: 0px;
  background-color: rgb(253, 251, 249);
}

.comment-container:nth-child(2n + 1)
  > .commentoptions-container
  > div:first-child
  > button {
  background-color: rgb(240, 240, 240);
}

.la-trash-alt {
  font-size: 24px;
}

.la-edit {
  font-size: 24px;
}

/***** CommentEdit *****/

.commentedit-container > form {
  width: 100%;
}

.commentedit-container > form > h2 {
  font-size: 1.2rem;
}

.commentedit-container > form > textarea {
  padding: 4px;
  margin-bottom: 16px;
  height: 100px;
  font-family: 'Noto Sans';
}

.commentedit-container > form > div {
  display: flex;
  justify-content: flex-end;
}

.commentedit-container > form > div > button {
  border: 1px solid #e25238;
  font-family: 'Montserrat';
  font-size: 0.9rem;
  color: #1c2122;
}

.commentedit-container > form > div > .confirm-button {
  background-color: #e25238;
  color: white;
}

.commentedit-container > form > div > .cancel-button {
  margin-right: 12px;
  background-color: rgb(248, 248, 248);
  color: #e25238;
}

/***** Logout *****/

.logout-container {
  padding: 12px;
  border: 2px solid #1c2122;
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
}

.logout-container > h1 {
  margin-bottom: 12px;
  font-size: 1.5rem;
}

.logout-container > p:first-of-type {
  margin-bottom: 8px;
  color: rgba(235, 25, 25);
}

/***** Profile ******/

.profile-container {
  padding: 8px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px;
  margin-bottom: 12px;
  background-color: rgb(253, 251, 249);
}

.profile-container > h1 {
  font-size: 1.5rem;
  padding-bottom: 12px;
  border-bottom: 2px solid#e25238;
  margin-bottom: 24px;
}

.profile-container > ul > li {
  margin-bottom: 12px;
}

/***** ConfirmationBox *****/

.confirmationbox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 8px;
  border: 2px solid #1c2122;
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
  z-index: 3;
}

.confirmationbox > h2 {
  margin-bottom: 12px;
  font-size: 1.3rem;
}

.confirmationbox > form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 16px;
}

.confirmationbox > form > button {
  border: 1px solid #e25238;
  font-family: 'Montserrat';
  color: #1c2122;
}

.confirmationbox > form > .confirm-button {
  background-color: #e25238;
  color: white;
}

.confirmationbox > form > .cancel-button {
  margin-right: 12px;
  background-color: rgb(248, 248, 248);
  color: #e25238;
}
